{% include 'components/filters/ui_filters/user_ui_filters.html' %}
{% load static %}

<div class="overflow-x-auto rounded-md shadow-md md:block hidden">
  <table class="table table-zebra">
    <thead class="bg-primary text-white uppercase">
      <tr>
        {% for field in fields|slice:'1:' %}
          <th>{{ field.verbose_name }}</th>
        {% endfor %}
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterar sobre los objetos -->
      {% for obj_data in object_data %}
        <tr class="hover">
          <td class="uppercase font-bold">
            {{ obj_data.1|date:'d/m/Y' }} <!-- Formatear como dd/mm/aaaa -->
          </td>
          <td class="uppercase">{{ obj_data.2 }}</td>
          <td class="uppercase">{{ obj_data.3 }}</td>
          <td class="uppercase">
            {% if obj_data.4 == 'approved' %}
              <div class="badge bg-emerald-500 border-emerald-500 text-white">Aprobado</div>
            {% else %}
              {% if obj_data.4 == 'awaiting_approval' %}
                <div class="badge badge-accent">Pendiente</div>
              {% else %}
                <div class="badge bg-emerald-500 border-emerald-500 text-white">Aprobado pero Incompleto</div>
              {% endif %}
            {% endif %}
          </td>
          <td>
            <div class="flex justify-start gap-1">
              {% if obj_data.4 == 'approved' %}
                <a href="{% url view_url pk=obj_data.0 %}" class="btn btn-primary btn-xs btn-outline"><i class="fas fa-eye"></i>Ver Picking</a>
              {% else %}
                {% if obj_data.4 == 'awaiting_approval' %}
                  <a href="javascript:void(0);" onclick="confirmUpdateState('{% url description_url pk=obj_data.0 %}')" class="btn btn-primary btn-xs btn-outline"><i class="fas fa-pen"></i>Actualizar Estado</a>
                {% else %}
                  <a href="{% url view_url pk=obj_data.0 %}" class="btn btn-primary btn-xs btn-outline"><i class="fas fa-eye"></i>Ver Picking</a>
                {% endif %}
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <!-- foot -->
    <tfoot class="bg-secondary text-white uppercase">
      <tr>
        {% for field in fields|slice:'1:' %}
          <th>{{ field.verbose_name }}</th>
        {% endfor %}
        <th>Acciones</th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 md:hidden">
  {% for obj_data in object_data %}
    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h2 class="card-title">{{ obj_data.1|date:'d/m/Y' }}</h2>
        <p class="uppercase">{{ obj_data.2 }}</p>
        <p class="uppercase">{{ obj_data.3 }}</p>
        <div>
          {% if obj_data.4 == 'approved' %}
            <div class="badge badge-md bg-emerald-500 border-emerald-500 text-white">Aprobado</div>
          {% else %}
            {% if obj_data.4 == 'awaiting_approval' %}
              <div class="badge badge-md badge-accent">Pendiente</div>
            {% else %}
              <div class="badge badge-md bg-emerald-500 border-emerald-500 text-white">Aprobado pero Incompleto</div>
            {% endif %}
          {% endif %}
        </div>
        <div class="card-actions justify-start mt-2">
          {% if obj_data.4 == 'approved' %}
            <a href="{% url view_url pk=obj_data.0 %}" class="btn btn-primary btn-xs btn-outline"><i class="fas fa-eye"></i> Ver Picking</a>
          {% else %}
            {% if obj_data.4 == 'awaiting_approval' %}
              <a href="javascript:void(0);" onclick="confirmUpdateState('{% url description_url pk=obj_data.0 %}')" class="btn btn-primary btn-xs btn-outline"><i class="fas fa-pen"></i> Actualizar Estado</a>
            {% else %}
              <a href="{% url view_url pk=obj_data.0 %}" class="btn btn-primary btn-xs btn-outline"><i class="fas fa-eye"></i> Ver Picking</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<script>
  function confirmUpdateState(url) {
      Swal.fire({
          title: '¿Estás seguro?',
          text: "Una vez actualizado el estado, no se puede volver a cambiar. Por favor, asegúrate de que los cambios son correctos.",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#5f3ea8',
          cancelButtonColor: '#e39424',
          confirmButtonText: 'Sí, continuar',
          cancelButtonText: 'Cancelar'
      }).then((result) => {
          if (result.isConfirmed) {
              window.location.href = url;
          }
      });
  }
  </script>

{% include 'components/paginator.html' %}
